body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1526px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1526px;
}
#u109 {
  position:absolute;
  left:2px;
  top:755px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
}
#u110 {
  position:absolute;
  left:216px;
  top:89px;
  width:300px;
  height:33px;
}
#u111 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u112 {
  position:absolute;
  left:216px;
  top:96px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u113 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:49px;
}
#u114 {
  position:absolute;
  left:979px;
  top:199px;
  width:177px;
  height:49px;
}
#u115 {
  position:absolute;
  left:2px;
  top:16px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u116 {
  position:absolute;
  left:959px;
  top:212px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u117 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:49px;
}
#u118 {
  position:absolute;
  left:222px;
  top:290px;
  width:177px;
  height:49px;
}
#u119 {
  position:absolute;
  left:2px;
  top:16px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u120 {
  position:absolute;
  left:202px;
  top:303px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u121 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u122 {
  position:absolute;
  left:1243px;
  top:94px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u123 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u124 {
  position:absolute;
  left:1243px;
  top:136px;
  width:268px;
  height:22px;
  font-size:18px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u126 {
  position:absolute;
  left:1243px;
  top:168px;
  width:340px;
  height:44px;
  font-size:18px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u128 {
  position:absolute;
  left:1243px;
  top:225px;
  width:322px;
  height:22px;
  font-size:18px;
}
#u129 {
  position:absolute;
  left:0px;
  top:0px;
  width:322px;
  white-space:nowrap;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:49px;
}
#u130 {
  position:absolute;
  left:1044px;
  top:802px;
  width:112px;
  height:49px;
}
#u131 {
  position:absolute;
  left:2px;
  top:16px;
  width:108px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u132 {
  position:absolute;
  left:1008px;
  top:815px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u133 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u134 {
  position:absolute;
  left:1243px;
  top:270px;
  width:502px;
  height:22px;
  font-size:18px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:502px;
  white-space:nowrap;
}
