* {
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

a:active {
  color: purple;
}

img {
  vertical-align: top;
  border: 0 none;
}

b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

i, em {
  font-style: normal;
}
