body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1997px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1355px;
}
#u152 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1355px;
}
#u153 {
  position:absolute;
  left:2px;
  top:670px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:33px;
}
#u154 {
  position:absolute;
  left:216px;
  top:89px;
  width:300px;
  height:33px;
}
#u155 {
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u156 {
  position:absolute;
  left:216px;
  top:96px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u157 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:49px;
}
#u158 {
  position:absolute;
  left:979px;
  top:199px;
  width:177px;
  height:49px;
}
#u159 {
  position:absolute;
  left:2px;
  top:16px;
  width:173px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u160 {
  position:absolute;
  left:959px;
  top:212px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u161 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:49px;
}
#u162 {
  position:absolute;
  left:222px;
  top:290px;
  width:129px;
  height:49px;
}
#u163 {
  position:absolute;
  left:2px;
  top:16px;
  width:125px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u164 {
  position:absolute;
  left:202px;
  top:303px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u165 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u166 {
  position:absolute;
  left:1243px;
  top:94px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u168 {
  position:absolute;
  left:1243px;
  top:136px;
  width:268px;
  height:22px;
  font-size:18px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u170 {
  position:absolute;
  left:1243px;
  top:168px;
  width:340px;
  height:44px;
  font-size:18px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
#u172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  height:88px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u172 {
  position:absolute;
  left:1243px;
  top:225px;
  width:548px;
  height:88px;
  font-size:18px;
}
#u173 {
  position:absolute;
  left:0px;
  top:0px;
  width:548px;
  white-space:nowrap;
}
#u174_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:49px;
}
#u174 {
  position:absolute;
  left:361px;
  top:290px;
  width:155px;
  height:49px;
}
#u175 {
  position:absolute;
  left:2px;
  top:16px;
  width:151px;
  visibility:hidden;
  word-wrap:break-word;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u176 {
  position:absolute;
  left:544px;
  top:303px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u177 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:49px;
}
#u178 {
  position:absolute;
  left:309px;
  top:390px;
  width:860px;
  height:49px;
}
#u179 {
  position:absolute;
  left:2px;
  top:16px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u180 {
  position:absolute;
  left:331px;
  top:369px;
  width:20px;
  height:20px;
  color:#FFFFFF;
}
#u181 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  height:66px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u182 {
  position:absolute;
  left:1243px;
  top:323px;
  width:419px;
  height:66px;
  font-size:18px;
}
#u183 {
  position:absolute;
  left:0px;
  top:0px;
  width:419px;
  white-space:nowrap;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:33px;
}
#u184 {
  position:absolute;
  left:254px;
  top:396px;
  width:49px;
  height:33px;
}
#u185 {
  position:absolute;
  left:2px;
  top:8px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u186 {
  position:absolute;
  left:268px;
  top:405px;
  width:29px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u188 {
  position:absolute;
  left:241px;
  top:400px;
  width:25px;
  height:25px;
}
#u189 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  height:110px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u190 {
  position:absolute;
  left:1243px;
  top:413px;
  width:754px;
  height:110px;
  font-size:18px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:754px;
  white-space:nowrap;
}
