body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u83918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83918 {
  position:absolute;
  left:118px;
  top:2115px;
  width:1800px;
  height:49px;
}
#u83919 {
  position:absolute;
  left:2px;
  top:16px;
  width:1796px;
  word-wrap:break-word;
}
#u83920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:150px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83920 {
  position:absolute;
  left:118px;
  top:1966px;
  width:1800px;
  height:150px;
}
#u83921 {
  position:absolute;
  left:2px;
  top:67px;
  width:1796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83922 {
  position:absolute;
  left:1209px;
  top:1980px;
  width:197px;
  height:47px;
}
#u83923 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u83924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83924 {
  position:absolute;
  left:621px;
  top:1980px;
  width:197px;
  height:47px;
}
#u83925 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u83926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83926 {
  position:absolute;
  left:817px;
  top:1980px;
  width:197px;
  height:47px;
}
#u83927 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u83928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83928 {
  position:absolute;
  left:1012px;
  top:1980px;
  width:197px;
  height:47px;
}
#u83929 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u83930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:61px;
}
#u83930 {
  position:absolute;
  left:426px;
  top:2040px;
  width:1292px;
  height:61px;
}
#u83931 {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  word-wrap:break-word;
}
#u83932 {
  position:absolute;
  left:1206px;
  top:1773px;
  visibility:hidden;
}
#u83932_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background-image:none;
}
#u83932_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.458823529411765);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83933 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u83934 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:150px;
}
#u83935 {
  position:absolute;
  left:26px;
  top:25px;
  width:148px;
  height:150px;
}
#u83936 {
  position:absolute;
  left:2px;
  top:67px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83937 {
  position:absolute;
  left:1230px;
  top:1973px;
  width:176px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u83938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83938 {
  position:absolute;
  left:2px;
  top:100px;
  width:236px;
  height:58px;
}
#u83939 {
  position:absolute;
  left:2px;
  top:21px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u83940 {
  position:absolute;
  left:94px;
  top:112px;
  width:35px;
  height:27px;
}
#u83941 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:1855px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83942 {
  position:absolute;
  left:0px;
  top:100px;
  width:54px;
  height:1855px;
}
#u83943 {
  position:absolute;
  left:2px;
  top:920px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:71px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83944 {
  position:absolute;
  left:0px;
  top:257px;
  width:54px;
  height:71px;
}
#u83945 {
  position:absolute;
  left:2px;
  top:28px;
  width:50px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83946 {
  position:absolute;
  left:1px;
  top:100px;
  width:52px;
  height:58px;
}
#u83947 {
  position:absolute;
  left:2px;
  top:21px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u83948 {
  position:absolute;
  left:10px;
  top:112px;
  width:35px;
  height:27px;
}
#u83949 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u83950 {
  position:absolute;
  left:14px;
  top:280px;
  width:25px;
  height:29px;
}
#u83951 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u83952 {
  position:absolute;
  left:9px;
  top:197px;
  width:35px;
  height:33px;
}
#u83953 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:187px;
  height:1923px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83954 {
  position:absolute;
  left:50px;
  top:100px;
  width:187px;
  height:1923px;
}
#u83955 {
  position:absolute;
  left:2px;
  top:954px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83956_div {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:40px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83956 {
  position:absolute;
  left:54px;
  top:374px;
  width:183px;
  height:40px;
}
#u83957 {
  position:absolute;
  left:2px;
  top:12px;
  width:179px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83958 {
  position:absolute;
  left:93px;
  top:201px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83959 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83960 {
  position:absolute;
  left:89px;
  top:246px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83961 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83962 {
  position:absolute;
  left:89px;
  top:291px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83963 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83964 {
  position:absolute;
  left:89px;
  top:339px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83965 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83966 {
  position:absolute;
  left:89px;
  top:384px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83967 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83968 {
  position:absolute;
  left:89px;
  top:435px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83969 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83970 {
  position:absolute;
  left:89px;
  top:480px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83971 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83972 {
  position:absolute;
  left:89px;
  top:530px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u83973 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u83975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83975 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
#u83976 {
  position:absolute;
  left:2px;
  top:42px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u83977 {
  position:absolute;
  left:129px;
  top:29px;
  width:121px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u83978 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u83979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u83979 {
  position:absolute;
  left:69px;
  top:25px;
  width:36px;
  height:50px;
}
#u83980 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83981 {
  position:absolute;
  left:385px;
  top:25px;
  width:570px;
  height:50px;
}
#u83981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u83982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u83982 {
  position:absolute;
  left:897px;
  top:34px;
  width:34px;
  height:34px;
}
#u83983 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u83984 {
  position:absolute;
  left:1717px;
  top:44px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u83985 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u83986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:36px;
}
#u83986 {
  position:absolute;
  left:1675px;
  top:30px;
  width:25px;
  height:36px;
}
#u83987 {
  position:absolute;
  left:2px;
  top:10px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83988 {
  position:absolute;
  left:377px;
  top:78px;
  visibility:hidden;
}
#u83988_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:843px;
  height:732px;
  background-image:none;
}
#u83988_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u83989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u83989 {
  position:absolute;
  left:64px;
  top:334px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u83990 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u83991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u83991 {
  position:absolute;
  left:64px;
  top:572px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u83992 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u83993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:732px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83993 {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:732px;
}
#u83994 {
  position:absolute;
  left:2px;
  top:358px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:42px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u83995 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:42px;
}
#u83996 {
  position:absolute;
  left:2px;
  top:13px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u83997 {
  position:absolute;
  left:29px;
  top:8px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u83998 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u83999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u83999 {
  position:absolute;
  left:29px;
  top:52px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84000 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u84001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84001 {
  position:absolute;
  left:29px;
  top:89px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84002 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u84003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84003 {
  position:absolute;
  left:29px;
  top:121px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84004 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u84005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:42px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84005 {
  position:absolute;
  left:0px;
  top:163px;
  width:470px;
  height:42px;
}
#u84006 {
  position:absolute;
  left:2px;
  top:13px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u84007 {
  position:absolute;
  left:29px;
  top:171px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u84008 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u84009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84009 {
  position:absolute;
  left:29px;
  top:225px;
  width:217px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84010 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u84011_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:42px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u84011 {
  position:absolute;
  left:0px;
  top:282px;
  width:470px;
  height:42px;
}
#u84012 {
  position:absolute;
  left:2px;
  top:13px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84013_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u84013 {
  position:absolute;
  left:29px;
  top:290px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u84014 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u84015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84015 {
  position:absolute;
  left:29px;
  top:334px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84016 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u84017_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84017 {
  position:absolute;
  left:29px;
  top:372px;
  width:294px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84018 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u84019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84019 {
  position:absolute;
  left:29px;
  top:455px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84020 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u84021_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84021 {
  position:absolute;
  left:29px;
  top:493px;
  width:294px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84022 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u84023_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84023 {
  position:absolute;
  left:29px;
  top:572px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84024 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u84025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84025 {
  position:absolute;
  left:29px;
  top:610px;
  width:294px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84026 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u84027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84027 {
  position:absolute;
  left:29px;
  top:692px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84028 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u84029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84029 {
  position:absolute;
  left:29px;
  top:412px;
  width:330px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84030 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u84031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84031 {
  position:absolute;
  left:29px;
  top:533px;
  width:330px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84032 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u84033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84033 {
  position:absolute;
  left:29px;
  top:650px;
  width:330px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84034 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u84035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:718px;
}
#u84035 {
  position:absolute;
  left:469px;
  top:15px;
  width:1px;
  height:717px;
}
#u84036 {
  position:absolute;
  left:2px;
  top:350px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84037 {
  position:absolute;
  left:498px;
  top:20px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84038 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u84039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84039 {
  position:absolute;
  left:498px;
  top:71px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84040 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u84041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84041 {
  position:absolute;
  left:498px;
  top:108px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84042 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u84043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84043 {
  position:absolute;
  left:498px;
  top:140px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84044 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u84045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u84045 {
  position:absolute;
  left:480px;
  top:52px;
  width:336px;
  height:1px;
}
#u84046 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84047 {
  position:absolute;
  left:498px;
  top:181px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84048 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u84049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84049 {
  position:absolute;
  left:498px;
  top:218px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84050 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u84051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84051 {
  position:absolute;
  left:498px;
  top:250px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u84052 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u84053 {
  position:absolute;
  left:1657px;
  top:16px;
  width:177px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u84054 {
  position:absolute;
  left:61px;
  top:16px;
  width:210px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u84055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u84055 {
  position:absolute;
  left:9px;
  top:812px;
  width:35px;
  height:27px;
}
#u84056 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u84057 {
  position:absolute;
  left:11px;
  top:965px;
  width:31px;
  height:27px;
}
#u84058 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u84059 {
  position:absolute;
  left:11px;
  top:886px;
  width:30px;
  height:28px;
}
#u84060 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u84061 {
  position:absolute;
  left:13px;
  top:344px;
  width:26px;
  height:14px;
}
#u84062 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u84063 {
  position:absolute;
  left:13px;
  top:379px;
  width:26px;
  height:14px;
}
#u84064 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u84065 {
  position:absolute;
  left:13px;
  top:454px;
  width:26px;
  height:14px;
}
#u84066 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u84067 {
  position:absolute;
  left:13px;
  top:487px;
  width:26px;
  height:14px;
}
#u84068 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u84069 {
  position:absolute;
  left:13px;
  top:562px;
  width:26px;
  height:14px;
}
#u84070 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u84071 {
  position:absolute;
  left:13px;
  top:597px;
  width:26px;
  height:14px;
}
#u84072 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u84073 {
  position:absolute;
  left:13px;
  top:667px;
  width:26px;
  height:14px;
}
#u84074 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84075_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u84075 {
  position:absolute;
  left:13px;
  top:707px;
  width:26px;
  height:14px;
}
#u84076 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84077_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u84077 {
  position:absolute;
  left:13px;
  top:778px;
  width:26px;
  height:14px;
}
#u84078 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u84079 {
  position:absolute;
  left:18px;
  top:413px;
  width:17px;
  height:18px;
}
#u84080 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u84081 {
  position:absolute;
  left:15px;
  top:514px;
  width:22px;
  height:22px;
}
#u84082 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u84083 {
  position:absolute;
  left:15px;
  top:626px;
  width:19px;
  height:22px;
}
#u84084 {
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u84085 {
  position:absolute;
  left:13px;
  top:735px;
  width:26px;
  height:22px;
}
#u84086 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
