body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u67940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:49px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67940 {
  position:absolute;
  left:118px;
  top:2044px;
  width:1800px;
  height:49px;
}
#u67941 {
  position:absolute;
  left:2px;
  top:16px;
  width:1796px;
  word-wrap:break-word;
}
#u67942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1800px;
  height:150px;
  background:inherit;
  background-color:rgba(246, 246, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67942 {
  position:absolute;
  left:118px;
  top:1895px;
  width:1800px;
  height:150px;
}
#u67943 {
  position:absolute;
  left:2px;
  top:67px;
  width:1796px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67944_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67944 {
  position:absolute;
  left:1209px;
  top:1909px;
  width:197px;
  height:47px;
}
#u67945 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u67946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67946 {
  position:absolute;
  left:621px;
  top:1909px;
  width:197px;
  height:47px;
}
#u67947 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u67948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67948 {
  position:absolute;
  left:817px;
  top:1909px;
  width:197px;
  height:47px;
}
#u67949 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u67950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:47px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67950 {
  position:absolute;
  left:1012px;
  top:1909px;
  width:197px;
  height:47px;
}
#u67951 {
  position:absolute;
  left:2px;
  top:16px;
  width:193px;
  word-wrap:break-word;
}
#u67952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  height:61px;
}
#u67952 {
  position:absolute;
  left:426px;
  top:1969px;
  width:1292px;
  height:61px;
}
#u67953 {
  position:absolute;
  left:0px;
  top:0px;
  width:1292px;
  word-wrap:break-word;
}
#u67954 {
  position:absolute;
  left:1206px;
  top:1702px;
  visibility:hidden;
}
#u67954_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background-image:none;
}
#u67954_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u67955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.458823529411765);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67955 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:200px;
}
#u67956 {
  position:absolute;
  left:2px;
  top:92px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:150px;
}
#u67957 {
  position:absolute;
  left:26px;
  top:25px;
  width:148px;
  height:150px;
}
#u67958 {
  position:absolute;
  left:2px;
  top:67px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67959 {
  position:absolute;
  left:1230px;
  top:1902px;
  width:176px;
  height:67px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u67960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:1800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67960 {
  position:absolute;
  left:0px;
  top:100px;
  width:238px;
  height:1800px;
}
#u67961 {
  position:absolute;
  left:2px;
  top:892px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:49px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67962 {
  position:absolute;
  left:2px;
  top:506px;
  width:236px;
  height:49px;
}
#u67963 {
  position:absolute;
  left:2px;
  top:16px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u67964 {
  position:absolute;
  left:2px;
  top:100px;
  width:236px;
  height:58px;
}
#u67965 {
  position:absolute;
  left:2px;
  top:21px;
  width:232px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u67966 {
  position:absolute;
  left:94px;
  top:112px;
  width:35px;
  height:27px;
}
#u67967 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:27px;
}
#u67968 {
  position:absolute;
  left:9px;
  top:979px;
  width:35px;
  height:27px;
}
#u67969 {
  position:absolute;
  left:2px;
  top:6px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:27px;
}
#u67970 {
  position:absolute;
  left:11px;
  top:1132px;
  width:31px;
  height:27px;
}
#u67971 {
  position:absolute;
  left:2px;
  top:6px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:29px;
}
#u67972 {
  position:absolute;
  left:14px;
  top:280px;
  width:25px;
  height:29px;
}
#u67973 {
  position:absolute;
  left:2px;
  top:6px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:33px;
}
#u67974 {
  position:absolute;
  left:9px;
  top:197px;
  width:35px;
  height:33px;
}
#u67975 {
  position:absolute;
  left:2px;
  top:8px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:28px;
}
#u67976 {
  position:absolute;
  left:11px;
  top:1053px;
  width:30px;
  height:28px;
}
#u67977 {
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u67978 {
  position:absolute;
  left:54px;
  top:201px;
  width:51px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:25px;
}
#u67979 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u67980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u67980 {
  position:absolute;
  left:54px;
  top:976px;
  width:169px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u67981 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u67982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u67982 {
  position:absolute;
  left:54px;
  top:1047px;
  width:113px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u67983 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u67984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u67984 {
  position:absolute;
  left:54px;
  top:1127px;
  width:141px;
  height:33px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u67985 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u67986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67986 {
  position:absolute;
  left:54px;
  top:344px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67987 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u67988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67988 {
  position:absolute;
  left:54px;
  top:386px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67989 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u67990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67990 {
  position:absolute;
  left:54px;
  top:435px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67991 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u67992_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67992 {
  position:absolute;
  left:54px;
  top:519px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67993 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u67994_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67994 {
  position:absolute;
  left:54px;
  top:568px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67995 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u67996_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67996 {
  position:absolute;
  left:54px;
  top:617px;
  width:127px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67997 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u67998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67998 {
  position:absolute;
  left:54px;
  top:659px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u67999 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u68000_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68000 {
  position:absolute;
  left:54px;
  top:844px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68001 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u68002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68002 {
  position:absolute;
  left:54px;
  top:893px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68003 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u68004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68004 {
  position:absolute;
  left:54px;
  top:704px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68005 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u68006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68006 {
  position:absolute;
  left:54px;
  top:476px;
  width:163px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68007 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u68008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68008 {
  position:absolute;
  left:54px;
  top:749px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68009 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u68010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68010 {
  position:absolute;
  left:54px;
  top:795px;
  width:109px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68011 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u68012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:13px;
}
#u68012 {
  position:absolute;
  left:215px;
  top:291px;
  width:23px;
  height:13px;
}
#u68013 {
  position:absolute;
  left:2px;
  top:-2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68014 {
  position:absolute;
  left:54px;
  top:282px;
  width:169px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68015 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  word-wrap:break-word;
}
#u68016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:1800px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68016 {
  position:absolute;
  left:237px;
  top:100px;
  width:238px;
  height:1800px;
}
#u68017 {
  position:absolute;
  left:2px;
  top:892px;
  width:234px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68018 {
  position:absolute;
  left:284px;
  top:201px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68019 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68020 {
  position:absolute;
  left:280px;
  top:246px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68021 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68022 {
  position:absolute;
  left:280px;
  top:291px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68023 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68024 {
  position:absolute;
  left:280px;
  top:339px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68025 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68026 {
  position:absolute;
  left:280px;
  top:384px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68027 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68028 {
  position:absolute;
  left:280px;
  top:435px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68029 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68030 {
  position:absolute;
  left:280px;
  top:480px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68031 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68032 {
  position:absolute;
  left:280px;
  top:530px;
  width:81px;
  height:24px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u68033 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u68035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68035 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:100px;
}
#u68036 {
  position:absolute;
  left:2px;
  top:42px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u68037 {
  position:absolute;
  left:129px;
  top:29px;
  width:121px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:40px;
}
#u68038 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u68039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:50px;
}
#u68039 {
  position:absolute;
  left:69px;
  top:25px;
  width:36px;
  height:50px;
}
#u68040 {
  position:absolute;
  left:2px;
  top:17px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68041 {
  position:absolute;
  left:385px;
  top:25px;
  width:570px;
  height:50px;
}
#u68041_input {
  position:absolute;
  left:0px;
  top:0px;
  width:570px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u68042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:34px;
}
#u68042 {
  position:absolute;
  left:897px;
  top:34px;
  width:34px;
  height:34px;
}
#u68043 {
  position:absolute;
  left:2px;
  top:9px;
  width:30px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68044 {
  position:absolute;
  left:1717px;
  top:44px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68045 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u68046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:36px;
}
#u68046 {
  position:absolute;
  left:1675px;
  top:30px;
  width:25px;
  height:36px;
}
#u68047 {
  position:absolute;
  left:2px;
  top:10px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68048 {
  position:absolute;
  left:377px;
  top:78px;
  visibility:hidden;
}
#u68048_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:843px;
  height:732px;
  background-image:none;
}
#u68048_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u68049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68049 {
  position:absolute;
  left:64px;
  top:334px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u68050 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u68051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u68051 {
  position:absolute;
  left:64px;
  top:572px;
  width:181px;
  height:24px;
  font-size:20px;
}
#u68052 {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  white-space:nowrap;
}
#u68053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:732px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:14px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68053 {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:732px;
}
#u68054 {
  position:absolute;
  left:2px;
  top:358px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:42px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68055 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:42px;
}
#u68056 {
  position:absolute;
  left:2px;
  top:13px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u68057 {
  position:absolute;
  left:29px;
  top:8px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u68058 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u68059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68059 {
  position:absolute;
  left:29px;
  top:52px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68060 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u68061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68061 {
  position:absolute;
  left:29px;
  top:89px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68062 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u68063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68063 {
  position:absolute;
  left:29px;
  top:121px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68064 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u68065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:42px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68065 {
  position:absolute;
  left:0px;
  top:163px;
  width:470px;
  height:42px;
}
#u68066 {
  position:absolute;
  left:2px;
  top:13px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u68067 {
  position:absolute;
  left:29px;
  top:171px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u68068 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u68069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68069 {
  position:absolute;
  left:29px;
  top:225px;
  width:217px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68070 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u68071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:42px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:7px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68071 {
  position:absolute;
  left:0px;
  top:282px;
  width:470px;
  height:42px;
}
#u68072 {
  position:absolute;
  left:2px;
  top:13px;
  width:466px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u68073 {
  position:absolute;
  left:29px;
  top:290px;
  width:49px;
  height:28px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u68074 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u68075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68075 {
  position:absolute;
  left:29px;
  top:334px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68076 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u68077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68077 {
  position:absolute;
  left:29px;
  top:372px;
  width:294px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68078 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u68079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68079 {
  position:absolute;
  left:29px;
  top:455px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68080 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u68081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68081 {
  position:absolute;
  left:29px;
  top:493px;
  width:294px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68082 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u68083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68083 {
  position:absolute;
  left:29px;
  top:572px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68084 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u68085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68085 {
  position:absolute;
  left:29px;
  top:610px;
  width:294px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68086 {
  position:absolute;
  left:0px;
  top:0px;
  width:294px;
  white-space:nowrap;
}
#u68087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68087 {
  position:absolute;
  left:29px;
  top:692px;
  width:169px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68088 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u68089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68089 {
  position:absolute;
  left:29px;
  top:412px;
  width:330px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68090 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u68091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68091 {
  position:absolute;
  left:29px;
  top:533px;
  width:330px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68092 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u68093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68093 {
  position:absolute;
  left:29px;
  top:650px;
  width:330px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68094 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  word-wrap:break-word;
}
#u68095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:718px;
}
#u68095 {
  position:absolute;
  left:469px;
  top:15px;
  width:1px;
  height:717px;
}
#u68096 {
  position:absolute;
  left:2px;
  top:350px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68097 {
  position:absolute;
  left:498px;
  top:20px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68098 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u68099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68099 {
  position:absolute;
  left:498px;
  top:71px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68100 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u68101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68101 {
  position:absolute;
  left:498px;
  top:108px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68102 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u68103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68103 {
  position:absolute;
  left:498px;
  top:140px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68104 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u68105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:2px;
}
#u68105 {
  position:absolute;
  left:480px;
  top:52px;
  width:336px;
  height:1px;
}
#u68106 {
  position:absolute;
  left:2px;
  top:-8px;
  width:332px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68107 {
  position:absolute;
  left:498px;
  top:181px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68108 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u68109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68109 {
  position:absolute;
  left:498px;
  top:218px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68110 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u68111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68111 {
  position:absolute;
  left:498px;
  top:250px;
  width:331px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u68112 {
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  white-space:nowrap;
}
#u68113 {
  position:absolute;
  left:1657px;
  top:16px;
  width:177px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68114 {
  position:absolute;
  left:61px;
  top:16px;
  width:210px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u68115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u68115 {
  position:absolute;
  left:13px;
  top:344px;
  width:26px;
  height:14px;
}
#u68116 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u68117 {
  position:absolute;
  left:13px;
  top:390px;
  width:26px;
  height:14px;
}
#u68118 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u68119 {
  position:absolute;
  left:13px;
  top:480px;
  width:26px;
  height:14px;
}
#u68120 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u68121 {
  position:absolute;
  left:13px;
  top:523px;
  width:26px;
  height:14px;
}
#u68122 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u68123 {
  position:absolute;
  left:13px;
  top:621px;
  width:26px;
  height:14px;
}
#u68124 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u68125 {
  position:absolute;
  left:13px;
  top:663px;
  width:26px;
  height:14px;
}
#u68126 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u68127 {
  position:absolute;
  left:13px;
  top:757px;
  width:26px;
  height:14px;
}
#u68128 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u68129 {
  position:absolute;
  left:13px;
  top:799px;
  width:26px;
  height:14px;
}
#u68130 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:14px;
}
#u68131 {
  position:absolute;
  left:13px;
  top:897px;
  width:26px;
  height:14px;
}
#u68132 {
  position:absolute;
  left:2px;
  top:-1px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u68133 {
  position:absolute;
  left:18px;
  top:435px;
  width:17px;
  height:18px;
}
#u68134 {
  position:absolute;
  left:2px;
  top:1px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u68135 {
  position:absolute;
  left:15px;
  top:566px;
  width:22px;
  height:22px;
}
#u68136 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:22px;
}
#u68137 {
  position:absolute;
  left:15px;
  top:704px;
  width:19px;
  height:22px;
}
#u68138 {
  position:absolute;
  left:2px;
  top:3px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:22px;
}
#u68139 {
  position:absolute;
  left:13px;
  top:844px;
  width:26px;
  height:22px;
}
#u68140 {
  position:absolute;
  left:2px;
  top:3px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
